<h1>La liste des corsairs</h1>

<ul id="lol">
  <% @corsair.each do |corsaire| %>
    <li>
     <%= corsaire.first_name %>
      <%= corsaire.age %>
      <%= link_to corsaire.first_name, corsair_path(corsaire) %>
    </li>
  <% end %>
</ul>

<%= link_to "créer un corsaire", new_corsair_path %>
