<h1>Créer un corsair</h1>

 <%= form_for @corsair do |f| %>
  <p>
    <label>Prénom</label><br/>
    <%= f.text_field :first_name %>
  </p>
  <p>
    <label>Age</label><br/>
    <%= f.text_area :age %>
  </p>
  <p>
    <button type="submit">Créer un corsair</button>
  </p>
<% end %>
